body {
  background: var(--linear-bg);
}
/* Header */
header {
  backdrop-filter: var(--header-blur-filter);
  background-color: var(--dark-header-bg) !important;
  padding: 1.5rem 1rem;
}
/*! Fix later - changes text color in form drop down */
#Reason {
  color: #fff;
}
