.hide {
  display: none !important;
}

body {
  background: var(--linear-bg);
  color: #fff;
}

/* Header */
header {
  /* backdrop-filter: blur(5px) saturate(115%); */
  background-color: var(--dark-bg);
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  position: sticky !important;
}
header h1 {
  margin: 0;
}
nav {
  display: flex;
  align-content: center;
}
nav ul {
  padding-top: 1rem;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 0.5rem;
  cursor: pointer;
}

/* Desktop Menu */
.desktopMenu {
  display: flex;
  flex-direction: column;
}
/* Mobile Menu  */
.mobileMenu {
  display: grid;
  align-items: center;
}
/*
.mobileMenu button {
  padding: 0.2rem 0.4rem;
}*/
.hamburgerMenu {
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
}

/* About section*/
.aboutSection {
  padding: 1.2rem;
  text-align: center;
}
.aboutSection button,
.contactSection button,
.resumeSection button {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.8rem;
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
  border: none;
  border-radius: 6px;
}
.aboutSection button:hover {
  color: #fff;
  background-color: var(--light-gray);
  transform: scale(1.08);
}
.socialLinksContainer {
  margin-block: 2rem;
}
.socialLinksContainer ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.socialLinksContainer ul li {
  padding: 1rem;
}
.icon {
  height: 1.3rem;
  width: 1.3rem;
  padding: 0.8rem;
  border-radius: 50%;
}

footer {
  background-color: var(--dark-bg);
}
