:root {
  /* Body */
  --linear-bg: linear-gradient(180deg, rgba(22, 23, 24, 1) 0%, rgba(28, 28, 28, 1) 36%, rgba(28, 28, 28, 1) 65%, rgba(22, 23, 24, 1) 100%);
  --header-font: "Montserrat", sans-serif;
  --text-font: "Lato", sans-serif;

  /* Header */
  --dark-header-bg: rgba(97, 97, 97, 0.4);
  --header-blur-filter: blur(15px) saturate(115%);

  --drop-down-menu-bg: linear-gradient(
    180deg,
    rgba(56, 40, 69, 0.655) 4%,
    rgba(37, 26, 54, 0.555) 20%,
    rgba(25, 28, 56, 0.555) 56%,
    rgba(8, 21, 43, 0.655) 100%
  );

  /* Card Background */
  --dark-card-bg: linear-gradient(0deg, rgba(37, 37, 37, 0.855) 30%, rgba(78, 78, 78, 0.3) 100%);

  /* Form Colors */
  --light-form-bg: rgba(100, 100, 100, 0.7);

  /* Text Colors */
  --white-text-color: rgba(242, 241, 235, 0.9);
  --medium-gray: rgb(175, 173, 173);
  --light-blue: rgba(115, 144, 195, 0.8);
}

body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
h1 {
  color: var(--white-text-color);
  font-family: var(--header-font);
  font-weight: bold;
}
h2 {
  color: var(--white-text-color);
  font-family: var(--header-font);
}

h3 {
  color: var(--white-text-color);
  font-family: var(--header-font);
  margin: 0;
}
li {
  list-style: none;
  font-family: var(--text-font);
  background-color: transparent;
}

p,
small,
span {
  color: var(--medium-gray);
  font-family: var(--text-font);
}
a,
a:-webkit-any-link {
  color: #fff;
  font-family: var(--text-font);
  text-decoration: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  font-family: var(--text-font) !important;
}

