:root {
  --dark-bg: rgba(97, 97, 97, 0.4);
  --linear-bg: linear-gradient(180deg, rgba(22, 23, 24, 1) 0%, rgba(28, 28, 28, 1) 36%, rgba(28, 28, 28, 1) 65%, rgba(22, 23, 24, 1) 100%);
  --light-gray: rgba(100, 100, 100, 0.5);
  --medium-gray: rgb(174, 174, 174);
  --lighter-medium-gray: rgba(163, 163, 163, 0.7);
  --menu-bg: rgba(77, 77, 77, 0.9);
  --backdrop-filter: blur(5px) saturate(115%);

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
h3 {
  margin: 0;
}
ul li {
  list-style: none;
}
p {
  color: var(--medium-gray);
}
small {
  color: var(--lighter-medium-gray);
}
a,
a:-webkit-any-link {
  color: #fff;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
section {
  min-height: 86vh;
}
button {
  cursor: pointer;
}
